* { margin: 0; padding: 0; }

body{
	background: #b5e4a7;
}

#header{
    width: 490px;
    margin: 42px auto;
}

#header img{
	float: left;
	padding-top: 5px;
}

#header h2{
	color: #0b24b4;
    font-family: 'RobotoSlab';
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1px;
    padding-left: 35px;
    display: inline-block;
    text-transform: uppercase;
}
#header h5{
	color: #031104;
    font-family: 'RobotoSlab';
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1px;
    padding-left: 35px;
    display: inline-block;
    text-transform: uppercase;
}

#search{
	height: 50px;
	text-align: center;
	margin-bottom: 50px;
}

#search input{
	width: 389px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #8bd33a;
    color: #E25C5C;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#search button{
    background: linear-gradient(180deg, #290505 0%, #c1c7ce 100%);
    border-radius: 5px;
    width: 88px;
    height: 50px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: 'RobotoSlab';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
}

#table{
	width: 493px;
	height: 493px;
	margin: auto;
	border: 3px solid #e90c73;
	border-radius: 10px;
	border-spacing: 0;
}

#table td{
	border-bottom: 3px solid #e90c73;
	border-right: 3px solid #e90c73;
	width: 46px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	line-height: 36px;
	font-size: 36px;
	letter-spacing: 2.9px;
}

.color{
	background-color: #968265;
	transition: background 0.5s ease-out;
}

#table tr:nth-child(16) td{
	border-bottom: none;
}

#table td:last-child{
	border-right: none
}

@media only screen and (max-width: 479px) {
	#header{
		width: 350px;
		margin: 20px auto;
    	display: inline-block;
	}
	
	#header img{
		width: 58px;
	    height: 58px;
	    padding-left: 38px;
	}

	#header h1{
		font-size: 30px;
	    padding-left: 20px;
	    padding-top: 13px;
	}

	#search{
		margin-bottom: 20px;
	}

	#search input{
		width: 233px;
		height: 40px;
	}

	#search button{
		width: 85px;
		height: 40px;
    	margin-left: 5px;
	}

	#table{
		width: 330px;
		height: 330px;
	}

	#table td{
		width: 33px;
		font-size: 20px;
	}
}

@font-face {
	    font-family: 'Roboto';
	    src: url('fonts/RobotoMono-Regular.ttf') format('truetype');
	         
	    font-weight: normal;
	    font-style: normal; }

@font-face {
	    font-family: 'RobotoSlab';
	    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
	         
	    font-weight: normal;
	    font-style: normal; }


.container {
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
			height: 6vh; /* Isso é opcional, define a altura da div como 100% da altura da janela (viewport) */
	}
	
		/* Opcionalmente, para estilizar o texto dentro do elemento <h3> */
.container h3 {
	margin: 0;
	background-color: #e0d314;
}

/* Opcionalmente, para estilizar o texto dentro do elemento <p> */
.container p {
	margin: 0;
}



.containe {
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
			height: 1vh; /* Isso é opcional, define a altura da div como 100% da altura da janela (viewport) */
	}
.containe h4 {
	margin: 0;
	background-color: #fc9374;
}


/* Opcionalmente, para estilizar o texto dentro do elemento <p> */
.containe p {
	margin: 0;
}

